<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form html</title>
</head>
<body>
    <form>
{% csrf_token %}

        <input type="text" PLACEHOLDER="Student_id" name="id">
        <input type="text" PLACEHOLDER="Telugu_marks" name="telugu">
        <input type="text" PLACEHOLDER="English_marks" name="english">
        <input type="text" PLACEHOLDER="Hindi_marks" name="hindi">
        <input type="text" PLACEHOLDER="kannada_marks" name="kannada">
        <input type="text" PLACEHOLDER="Maths_marks" name="maths">
        <input type="text" PLACEHOLDER="Science_marks" name="science">
        <input type="submit" value="Submit">
    </form>
</body>
</html>